<?xml version="1.0"?>
<config>
    <modules>
        <Extend_Warranty>
            <version>0.1.0</version>
        </Extend_Warranty>
    </modules>
    <global>
        <blocks>
            <warranty>
                <class>Extend_Warranty_Block</class>
            </warranty>
        </blocks>
        <models>
            <warranty>
                <class>Extend_Warranty_Model</class>
            </warranty>
        </models>
        <resources>
            <warranty_setup>
                <setup>
                    <module>Extend_Warranty</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </warranty_setup>
            <warranty_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </warranty_read>
            <warranty_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </warranty_write>
        </resources>
        <helpers>
            <warranty>
                <class>Extend_Warranty_Helper</class>
            </warranty>
            <catalog>
                <rewrite>
                    <product_configuration>Extend_Warranty_Helper_Product_Configuration</product_configuration>
                </rewrite>
            </catalog>
        </helpers>
        <catalog>
            <product>
                <type>
                    <warranty translate="label" module="warranty">
                        <label>Extend Protection Plan</label>
                        <model>warranty/product_type</model>
                        <is_qty>1</is_qty>
                        <composite>0</composite>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </warranty>
                </type>
            </product>
        </catalog>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <warranty_invoice_pay>
                        <class>warranty/observer_createcontract</class>
                        <method>execute</method>
                    </warranty_invoice_pay>
                </observers>
            </sales_order_invoice_pay>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <warranty_setcustomoption_observer>
                        <type>singleton</type>
                        <class>warranty/observer_quoteconverter</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </warranty_setcustomoption_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <extend before="Mage_Adminhtml">Extend_Warranty_Adminhtml</extend>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <warranty>
                <use>standard</use>
                <args>
                    <module>Extend_Warranty</module>
                    <frontName>warranty</frontName>
                </args>
            </warranty>
        </routers>
        <layout>
            <updates>
                <warranty>
                    <file>extend_warranty.xml</file>
                </warranty>
            </updates>
        </layout>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <warranty>
                        <class>warranty/observer_warranty_addtocart</class>
                        <method>execute</method>
                    </warranty>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_quote_product_add_after>
                <observers>
                    <warranty>
                        <class>warranty/observer_warranty_reorder</class>
                        <method>execute</method>
                    </warranty>
                </observers>
            </sales_quote_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <warranty>
                        <class>warranty/observer_warranty_removewarranties</class>
                        <method>execute</method>
                    </warranty>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_update_items_after>
                <observers>
                    <warranty>
                        <class>warranty/observer_warranty_normalize</class>
                        <method>execute</method>
                    </warranty>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_cart_update_item_complete>
                <observers>
                    <warranty>
                        <class>warranty/observer_warranty_normalize</class>
                        <method>execute</method>
                    </warranty>
                </observers>
            </checkout_cart_update_item_complete>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <extend_warranty>
                    <file>warranty.xml</file>
                </extend_warranty>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <warranty_update_layout_head>
                        <class>warranty/observer_updatelayout</class>
                        <method>execute</method>
                    </warranty_update_layout_head>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </adminhtml>
    <default>
        <warranty>
            <products>
                <batch_size>100</batch_size>
            </products>
        </warranty>
    </default>

    <crontab>
        <jobs>
            <extend_product_sync>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>warranty/productSyncProcessor::process</model>
                </run>
            </extend_product_sync>
        </jobs>
    </crontab>
</config>
