<?xml version="1.0"?>
<config>
    <tabs>
        <extend translate="label" module="warranty">
            <label>Extend</label>
            <sort_order>10</sort_order>
        </extend>
    </tabs>
    <sections>
        <warranty translate="label" module="warranty">
            <label>Extend Protection Plans</label>
            <tab>extend</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <extend_info>
                    <label><![CDATA[Extend Protection Plans]]></label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>warranty/system_config_intro</frontend_model>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>10</sort_order>
                    <expanded>1</expanded>
                </extend_info>
                <authentication>
                    <label><![CDATA[Authentication]]></label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>20</sort_order>
                    <comment><![CDATA[In order for the Extend extension to communicate with the Extend platform on your stores's
                        behalf (to sync products, create protection plan SKUs, display optimized plan offers in your store, and
                        record extended service contract sales), we need you to store a couple of unique identifiers here in your
                        configuration settings.]]>
                    </comment>
                    <fields>
                        <auth_mode translate="label">
                            <label>Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>warranty/config_source_authmode</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auth_mode>
                        <store_id translate="label">
                            <label>Store ID</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                                <![CDATA[Unique identifier for your store on the Extend platform.
                                Go to <a href="https://merchants.extend.com">your Extend merchant dashboard</a>
                                to find your StoreID and then paste of type it here.]]>
                            </comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </store_id>
                        <store_name translate="label">
                            <label>Store Name</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                                <![CDATA[Unique name for your store on the Extend platform. Go to <a href="https://merchants.extend.com">your Extend merchant dashboard</a>
                                to find your StoreName and then paste of type it here.]]>
                            </comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </store_name>
                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                                <![CDATA[Access token which is required for all API communications between your Magento store and
                                the Extend platform. You can view and manage your API Key on
                                <a href="https://merchants.extend.com">your Extend merchant dashboard</a>.]]>
                            </comment>
                            <sort_order>30</sort_order>
                            <frontend_type>password</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <sandbox_store_id translate="label">
                            <label>SandBox Store ID</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                                <![CDATA[Unique identifier for your store on the Extend platform.
                                Go to <a href="https://demo.merchants.extend.com">your Extend merchant dashboard</a>
                                to find your StoreID and then paste of type it here.]]>
                            </comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_store_id>
                        <sandbox_api_key translate="label">
                            <label>SandBox API Key</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                                <![CDATA[Access token which is required for all API communications between your Magento store and
                                the Extend platform. You can view and manage your API Key on
                                <a href="https://demo.merchants.extend.com">your Extend merchant dashboard</a>.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <frontend_type>password</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_api_key>
                    </fields>
                </authentication>
                <products>
                    <label><![CDATA[Sync Products]]></label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>30</sort_order>
                    <comment>
                        <![CDATA[It's important to keep your product catalog synced with Extend, so we can serve accurate
                        extended protection plan offers in your store. Just click the "Sync Products" button and we'll send your
                        catalog to the Extend platform in batches. If you have a small number of SKUs this will take just
                        seconds, but if your catalog is very large it could take few minutes.]]>
                    </comment>
                    <fields>
                        <batch_size translate="label">
                            <label>Batch Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>warranty/config_source_batchsize</source_model>
                            <comment>
                                <![CDATA[Save the configuration and flush the cache before running the sync process.]]>
                            </comment>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </batch_size>
                        <syncbutton>
                            <label><![CDATA[Sync Products]]></label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>warranty/system_config_products_button</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>20</sort_order>
                        </syncbutton>
                    </fields>
                </products>
                <enableExtend>
                    <label><![CDATA[Enable Extend]]></label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>40</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <enable translate="label">
                            <label>Enable Extend</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_class>complex</frontend_class>
                            <comment>
                                <![CDATA[To enable or disable protection plan offers on specific products,
                                please go to <a href="https://merchants.extend.com">your Extend merchant dashboard</a>.]]>
                            </comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                        <enableBalance translate="label">
                            <label>Balanced Cart</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enableBalance>
                        <enableCartOffers translate="label">
                            <label>Display Cart Offers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enableCartOffers>
                        <enableRefunds translate="label">
                            <label>Enable Refunds</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enableRefunds>
                    </fields>
                </enableExtend>
                <orders>
                    <label><![CDATA[Orders]]></label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>40</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <enable translate="label">
                            <label>Orders API</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_class>complex</frontend_class>
                            <comment>
                                <![CDATA[Enable the Extend Warranty Orders API.]]>
                            </comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                    </fields>
                </orders>
                <historical_orders>
                    <label>Sync Historical Orders</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>50</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <batch_size>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <label>Batch Size</label>
                            <source_model>warranty/config_source_historicalOrdersBatchsize</source_model>
                            <comment>
                                Save the configuration and flush the cache before running the sync process.
                            </comment>
                        </batch_size>
                        <syncbutton>
                            <label><![CDATA[Sync Orders]]></label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>warranty/system_config_orders_button</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                        </syncbutton>
                        <cron_sync_enabled>
                            <frontend_type>select</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>30</sort_order>
                            <label>Enable Synchronization by Cron</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Orders can be synchronized automatically using this functionality.</comment>
                        </cron_sync_enabled>
                        <!--                    <group id="cron"-->
                        <!--                           translate="label comment"-->
                        <!--                           sortOrder="40"-->
                        <!--                           showInDefault="1"-->
                        <!--                           showInWebsite="0"-->
                        <!--                           showInStore="0"-->
                        <!--                           canRestore="1">-->
                        <!--                        <label>Cron Settings</label>-->
                        <!--                        <depends>-->
                        <!--                            <field id="warranty/products/cron_sync_enabled">1</field>-->
                        <!--                        </depends>-->
                        <!--                        <field id="frequency"-->
                        <!--                               translate="label comment"-->
                        <!--                               type="text"-->
                        <!--                               sortOrder="10"-->
                        <!--                               showInDefault="1"-->
                        <!--                               showInWebsite="0"-->
                        <!--                               showInStore="0"-->
                        <!--                               canRestore="1">-->
                        <!--                            <label>Frequency</label>-->
                        <!--                            <comment>Cron schedule expression</comment>-->
                        <!--                            <backend_model>Extend\Warranty\Model\Config\Backend\OrdersSyncCronSchedule</backend_model>-->
                        <!--                            <validate>validate-cron-expression</validate>-->
                        <!--                        </field>-->
                        <!--                    </group>-->
                    </fields>
                </historical_orders>

                <offers>
                    <label><![CDATA[offers]]></label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>40</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <leads_modal_enabled translate="label">
                            <label><![CDATA[Post Purchase Leads Modal]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>
                                <![CDATA[Enable the Extend Warranty Orders API.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </leads_modal_enabled>
                        <order_offers_enabled translate="label">
                            <label><![CDATA[Order Information Offers]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>
                                <![CDATA[Enable the Extend Warranty Orders API.]]>
                            </comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_offers_enabled>
                    </fields>
                </offers>
                <advance_config>
                    <label><![CDATA[Advanced Configuration]]></label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>50</sort_order>
                    <comment>
                        <![CDATA[There are a number of other configurations you can control through your Extend merchant dashboard,
                                including: enabling / disabling Extend offers (for your whole store or for individual products),
                                customizing your offer branding, viewing the status of protection plan matching for
                                your products, and more!]]>
                    </comment>
                    <fields>
                        <portalbutton>
                            <label><![CDATA[Sync Products]]></label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>warranty/system_config_portallink</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>20</sort_order>
                        </portalbutton>
                    </fields>
                </advance_config>
            </groups>
        </warranty>
    </sections>
</config>
